In [3]:
import pandas as pd
from tabula import read_pdf

#df = pd.read_excel(r'C:\Users\user\Downloads\PythonWorkspace\iPythonNotebook\demo.xlsx', sheet_name='Sheet1')
df = read_pdf(r'C:\Users\user\Downloads\git\DataScience\PythonWorkspace\Assignment\EdaAssignment\Dataset.pdf')
df

    age  Unnamed: 1  year  Unnamed: 3  nodes  Unnamed: 5  status  Unnamed: 7
0   NaN          30   NaN          64    NaN           1     NaN           1
1   NaN          30   NaN          62    NaN           3     NaN           1
2   NaN          30   NaN          65    NaN           0     NaN           1
3   NaN          31   NaN          59    NaN           2     NaN           1
4   NaN          31   NaN          65    NaN           4     NaN           1
5   NaN          33   NaN          58    NaN          10     NaN           1
6   NaN          33   NaN          60    NaN           0     NaN           1
7   NaN          34   NaN          59    NaN           0     NaN           2
8   NaN          34   NaN          66    NaN           9     NaN           2
9   NaN          34   NaN          58    NaN          30     NaN           1
10  NaN          34   NaN          60    NaN           1     NaN           1
11  NaN          34   NaN          61    NaN          10     NaN           1
12  NaN          34   NaN          67    NaN           7     NaN           1
13  NaN          34   NaN          60    NaN           0     NaN           1
14  NaN          35   NaN          64    NaN          13     NaN           1
15  NaN          35   NaN          63    NaN           0     NaN           1
16  NaN          36   NaN          60    NaN           1     NaN           1
17  NaN          36   NaN          69    NaN           0     NaN           1
18  NaN          37   NaN          60    NaN           0     NaN           1
19  NaN          37   NaN          63    NaN           0     NaN           1
20  NaN          37   NaN          58    NaN           0     NaN           1
21  NaN          37   NaN          59    NaN           6     NaN           1
22  NaN          37   NaN          60    NaN          15     NaN           1
23  NaN          37   NaN          63    NaN           0     NaN           1
24  NaN          38   NaN          69    NaN          21     NaN           2
25  NaN          38   NaN          59    NaN           2     NaN           1
26  NaN          38   NaN          60    NaN           0     NaN           1
27  NaN          38   NaN          60    NaN           0     NaN           1
28  NaN          38   NaN          62    NaN           3     NaN           1
29  NaN          38   NaN          64    NaN           1     NaN           1
30  NaN          38   NaN          66    NaN           0     NaN           1
31  NaN          38   NaN          66    NaN          11     NaN           1
32  NaN          38   NaN          60    NaN           1     NaN           1
33  NaN          38   NaN          67    NaN           5     NaN           1
34  NaN          39   NaN          66    NaN           0     NaN           2
35  NaN          39   NaN          63    NaN           0     NaN           1
36  NaN          39   NaN          67    NaN           0     NaN           1
37  NaN          39   NaN          58    NaN           0     NaN           1
38  NaN          39   NaN          59    NaN           2     NaN           1
39  NaN          39   NaN          63    NaN           4     NaN           1
40  NaN          40   NaN          58    NaN           2     NaN           1
41  NaN          40   NaN          58    NaN           0     NaN           1
42  NaN          40   NaN          65    NaN           0     NaN           1
43  NaN          41   NaN          60    NaN          23     NaN           2
44  NaN          41   NaN          64    NaN           0     NaN           2